#first{
	width: 40%;
	height: auto;
	margin: 0 30%;
	background: #efe0e08c;
	box-shadow: 0 0 10px #11a211;
}
p{
	margin-bottom: 50px;
	color: #f10404;
	font-size: 20px;
}
#reg
{
width: 40%;
	height: auto;
	margin: 0 30%;
	background: #efe0e08c;
	box-shadow: 0 0 10px #11a211;	
}
h1{
	background: red;
	color: white;
	padding: 10px;
}
input[type=submit]
{
	width: 80%;
	height: 30px;
	font-size: 20px;
	background: red;
	color: white;

}

input[type=text]
{
	width: 80%;
	height: 30px;
	
}
input[type=email]
{
	width: 80%;
	height: 30px;
	
}
input[type=password]
{
	width: 80%;
	height: 30px;
	
}
input:focus{
	outline: none;
}
